@page
@model BulkDeleteModel


<h4>Deseja realmente deletar os seguintes recibos?</h4>

<ul>
    @foreach (var invoice in Model.Invoices)
    {
        <li>Invoice ID: @invoice.ID - Total: @invoice.TotalValue</li>
    }
</ul>
<form method="post" asp-page="/Invoices/BulkDelete">
    @foreach (var id in Model.SelectedIds)
    {
        <input type="hidden" name="SelectedIds" value="@id" />
    }
    <div class="mb-2 w-100">
        <button type="submit" class="btn btn-danger w-100 w-md-auto">Deletar Selecionados</button>
    </div>
    <div class="mb-2 w-100">
        <a class="btn btn-secondary w-100 w-md-auto" asp-page="Index">Voltar</a>
    </div>
</form>
