@page
@model SMSystems.UI.Pages.Invoices.CreateModel

@{
    ViewData["Title"] = "Gerar Recibo";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h4>Gerar Recibos</h4>
<hr />
<div class="container">
    <div class="table-responsive">
        <div class="row justify-content-center mb-3">
            <div class="col-md-6 col-sm-12 mb-2">
                <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Invoice.PatientID" class="control-label"></label>
                <select asp-for="Invoice.PatientID" class="form-control" asp-items="@(ViewData["PatientID"] as SelectList)"></select>
            </div>
            <div class="d-flex flex-wrap gap-2 mb-2 w-100 justify-content-between">
              <div class="flex-grow-1">
                   <input type="checkbox" id="chkUmReciboSessao" asp-for="ReciboSessao" />
                   <label for="chkUmReciboSessao"> Um recibo por Sessão? </label>
                   </div>
              <div class="flex-grow-1">
                   <input type="checkbox" id="chkEmissaoSessao" asp-for="EmissaoSessao" />
                   <label for="chkEmissaoSessao"> Emissão no mesmo dia da Sessão? </label>
              </div>
            </div>

          
            <div id="session-dates">
                <label>Sessões</label>
                <div class="form-group">
                    <input type="date" name="SessionDates" class="form-control" />

                </div>
            </div>
            <div class="mb-2 w-100">
                <button type="button" id="add-date" class="btn btn-primary w-100 w-md-auto">Adicionar Data</button>
            </div>           

            <div class="mb-2 w-100">
                <input type="submit" value="Gerar" class="btn btn-primary w-100 w-md-auto" />
            </div>

        </form>
                <div class="mb-2 w-100">
                <a class="btn btn-primary w-100 w-md-auto" asp-page="Index">Voltar</a>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        document.getElementById('add-date').addEventListener('click', function () {
            var container = document.getElementById('session-dates');
            var newInput = document.createElement('div');
            newInput.className = 'form-group';
            newInput.innerHTML = '<input type="date" name="SessionDates" class="form-control" />' +
                '<button type="button" class="btn btn-danger remove-date">Remover</button>';
            container.appendChild(newInput);
        });

        document.getElementById('session-dates').addEventListener('click', function (event) {
            if (event.target.classList.contains('remove-date')) {
                event.target.parentNode.remove();
            }
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
