@page
@model SMSystems.UI.Pages.Patients.CreateModel

@{
	ViewData["Title"] = "Create";
	Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h4>Cadastrar Paciente</h4>
<hr />
<div class="row">
	<form method="post" class="col-md-12">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>

		<!-- Painel Dados Pessoais -->
		<div class="form-row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						Dados Pessoais
					</div>
					<div class="card-body">
						<!-- Row 1 - Nome, SocialNumber e Telefone -->
						<div class="form-row">
							<div class="col-md-4">
								<div class="form-group">
									<label asp-for="Patient.Name" class="control-label"></label>
									<input asp-for="Patient.Name" class="form-control" />
									<span asp-validation-for="Patient.Name" class="text-danger"></span>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label asp-for="Patient.SocialNumber" class="control-label"></label>
									<input asp-for="Patient.SocialNumber" class="form-control" maxlength="11" />
									<span asp-validation-for="Patient.SocialNumber" class="text-danger"></span>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label asp-for="Patient.Phone" class="control-label"></label>
									<input asp-for="Patient.Phone" class="form-control" />
									<span asp-validation-for="Patient.Phone" class="text-danger"></span>
								</div>
							</div>
						</div>

						<!-- Row 2 - Email, ICD e Data de Nascimento -->
						<div class="form-row">
							<div class="col-md-4">
								<div class="form-group">
									<label asp-for="Patient.Email" class="control-label"></label>
									<input asp-for="Patient.Email" class="form-control" />
									<span asp-validation-for="Patient.Email" class="text-danger"></span>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label asp-for="Patient.ICD" class="control-label"></label>
									<input asp-for="Patient.ICD" class="form-control" />
									<span asp-validation-for="Patient.ICD" class="text-danger"></span>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label asp-for="Patient.BirthDate" class="control-label"></label>
									<input asp-for="Patient.BirthDate" type="date" class="form-control" />
									<span asp-validation-for="Patient.BirthDate" class="text-danger"></span>
								</div>
							</div>
						</div>
						<div class="form-row">
							<div class="col-md-4">
								<div class="form-group">
									<label asp-for="Patient.Observation" class="control-label"></label>
									<input asp-for="Patient.Observation"  class="form-control" />
									<span asp-validation-for="Patient.Observation" class="text-danger"></span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Painel com Checkboxes -->
				<div class="form-row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								Configurações
							</div>
							<div class="card-body">
								<div class="form-row">
									<div class="col-md-4">
										<!-- Checkbox existente -->
										<div class="form-group form-check">
											<input class="form-check-input" asp-for="Patient.Active" />
											<label class="form-check-label">
												@Html.DisplayNameFor(model => model.Patient.Active)
											</label>
										</div>
									</div>

									<div class="col-md-4">
										<!-- Adicionando outros checkboxes -->
										<div class="form-group form-check">
											<input class="form-check-input" asp-for="Patient.SendBirthdayMessage" />
											<label class="form-check-label">
												@Html.DisplayNameFor(model => model.Patient.SendBirthdayMessage)
											</label>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group form-check">
											<input class="form-check-input" asp-for="Patient.GetsInvoice" />
											<label class="form-check-label">
												@Html.DisplayNameFor(model => model.Patient.GetsInvoice)
											</label>
										</div>
									</div>
								</div>
								<div class="form-row">
									<div class="col-md-4">
										<label asp-for="Patient.ContractID" class="control-label"></label>
										@Html.DropDownList("Patient.ContractID", (IEnumerable<SelectListItem>)ViewData["ContractID"], new { @class = "form-control" })
										<span asp-validation-for="Patient.ContractID" class="text-danger"></span>

									</div>


								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Buttons Row -->
				<div class="form-row">
					<div class="col-md-12">
						<div class="form-group">
							<input type="submit" value="Salvar" class="btn btn-primary" />
							<a class="btn btn-secondary" asp-page="./Index">Voltar</a>
						</div>
					</div>
				</div>
	</form>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
