@page
@model SMSystems.UI.Pages.Patients.RegisterPatientModel
@{
}

<h1>Registrar Paciente </h1>

<div class="grid-container">

    @if (!string.IsNullOrEmpty(Model.ModalMessage))
    {
        @await Html.PartialAsync("_ModalPartial", Model)
    }

    <form method="post">
        <div>
            <label id="lblpatientName"> Nome:</label>
            <input type="text" id="txtName" name="patientName" />
        </div>

        <div>
            <lable id="lblBirthDate">Data de Nascimento: </lable>
            <input type="date" id="txtBirthDate" name="patientBirthDate" />
        </div>

        <div>
            <label id="lblSocialNumber">CPF:</label>
            <input type="text" id="txtSocialNumber" name="patientSocialNumber" />
        </div>

        <div>
            <label id="lblTelephone">Whatsapp:</label>
            <input type="tel" id="txtPatientNumber" name="patientNumber" />
        </div>

        <div>
            <label id="lblEmail">Email:</label>
            <input type="email" id="txtEmail" name="patientEmail" />
        </div>

        <div>
            <lbl id="lblICD">CID</lbl>
            <input type="text" id="txtICD" name="patientICD" />
        </div>


        <input type="submit" value="Registrar">
        <button type="button" id="btnCancela">Cancelar</button>
    </form>

</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('btnCancela').addEventListener('click', function () {

                $('#txtICD').val('');
                $('#txtEmail').val('');
                $('#txtPatientNumber').val('');
                $('#txtSocialNumber').val('');
                $('#txtBirthDate').val('');
                $('#txtName').val('');

            });
        });

        $(document).ready(function () {
            $('#myModal').modal('show');
        });


    </script>
}