@page
@model SMSystems.UI.Pages.Patients.RegisterPatientModel;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}


<h1>Registrar Paciente </h1>

<div class="grid-container">



    <form method="post">

        @if (Model.ModalMessages.Count > 0)
        {
            @foreach (string message in Model.ModalMessages.ToArray())
            {

                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong> @message.ToString()</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            }
        }


        <div class="form-group">
            <label for="txtName">Nome:</label>
            <input type="text" id="txtName" asp-for="patientVM.Name" class="form-control" />
            <span asp-validation-for="patientVM.Name" class="text-danger"></span>
        </div>


        <div class="form-group">
            <label for="txtBirthDate">Data de Nascimento:</label>
            <input id="txtBirthDate" asp-for="patientVM.BirthDate" class="form-control" />
            <span asp-validation-for="patientVM.BirthDate" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="txtSocialNumber">CPF:</label>
            <input type="text" id="txtSocialNumber" asp-for="patientVM.SocialNumber" class="form-control" />
            <span asp-validation-for="patientVM.SocialNumber" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="txtPatientNumber">Whatsapp:</label>
            <input type="tel" id="txtPatientNumber" asp-for="patientVM.Phone" class="form-control" />
            <span asp-validation-for="patientVM.Phone" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="txtEmail">Email:</label>
            <input type="email" id="txtEmail" asp-for="patientVM.Email" class="form-control" />
            <span asp-validation-for="patientVM.Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="txtICD">CID:</label>
            <input type="text" id="txtICD" asp-for="patientVM.ICD" class="form-control" />
        </div>

        <input type="submit" class="btn btn-primary" value="Registrar">
        <button type="reset" class="btn btn-primary" id="btnCancela">Cancelar</button>
    </form>

</div>
